#wrapper{
	width: 80%;
	margin:auto;
}
p{
	vertical-align: text-top;
	margin-bottom: 5px;
}


#course_table{
	width:100%;
}

#form_titles, #forms{
	display: inline-block;
	vertical-align: top;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.form{
	display: block;
}