#wrapper{
	outline-style: solid;
	outline-color: black;
	outline-width: 5px;
	padding: 10px;
}
body{
	display: flex;
	height:100vh;
	justify-content: center;
	align-items: center;
}
.top_block{
	display: inline-block;
}
.input{
	display: block;
}